extends ../layout
block contenido 
  section.content-header
    h1
      | Mis compras
      
   
  // Main content
  section.content.container-fluid
    div.row
      div.col-xs-12
        div.box
          div.box-header
            button#openModal.btn.btn-success + Ingresar nueva venta
          div.box-body
            table#tablaCompras.table.table-bordered.table-hover
              thead.tabla_default
                tr
                  th #
                  th Producto
                  th Detalles
                  th Cantidad comprada
                  th Precio
                  th Fecha Compra
                  th Factura
                  th Proveedor        
                tbody
            div#cbarsearea(style="display:none;")
    include ../partials/_addCompras.jade
    include ../partials/_addProveedor.jade
    
block javascript
  
  script(src="/bower_components/datatables.net/js/jquery.dataTables.min.js")
  script(src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js")
  link(rel="stylesheet" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css")        
  link(rel="stylesheet" href="/dist/css/datatables.min.css")      	
  script(src="/js-app/jquery-barcode.min.js")
  script(src="/js-app/compras/compras.init.js")
  script(src="/js-app/compras/compras.fn.js")
  script(src="/js-app/proveedor/proveedor.fn.js")
  