extends ../layout
block contenido 
  section.content-header
    h1
      | Mis compras
      
   
  // Main content
  section.content.container-fluid
    div.row
      div.col-xs-12
        div.box
          div.box-header
             h3.box-title Hover Data Table
          div.box-body
            table#tablaCompras.table.table-bordered.table-hover
              thead
                tr
                  th Producto
                  th Detales
                  th Cantidas
                  th Precio
                  th Fecha Compra
                  th Factura
                  th Proveedor        
                tbody
block javascript
  
  script(src="/bower_components/datatables.net/js/jquery.dataTables.min.js")
  link(rel="stylesheet" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css")      	
  script(src="/js-app/compras/compras.init.js")