extends ./layout
block contenido 
        // Content Header (Page header)
        section.content-header
          h1
            | Bienvenido.
            small Página principal

        // Main content
        section.content
          // Default box
          .box
            .box-header.with-border
              h3.box-title Caja
            .box-body
              form#crearProductoForm(role='form')
                .row
                  .col-md-1
                  .col-md-2
                    .form-group
                      label(for='pro-codigo-barra') cod barra:
                      input#pro-codigo-barra.form-control(type='text', placeholder='---')
                  .col-md-4
                    .form-group
                      label(for='pro-nombre') Producto:
                      input#pro-nombre.form-control(type='text', placeholder='Ingrese el nombre del producto')            
              hr
              .row
                .col-md-2
                .col-md-8
                  table#factura.table.table-bordered.table-hover                    
                      tr(style="background: #76d2a9;")
                        th(style="width: 50px;") #
                        th Producto
                        th(style="width: 100px;") Cant
                        th(style="width: 100px;") P. unitario
                        th(style="width: 100px;") p. total
                    
                  div.pull-right(style="margin-right: 50px; margin-top: -20px;")
                    b Total: &nbsp;
                      span#sumaTotal(style="font-size: 19px;")
                .col-md-8

              .row#clienteForm(role='form' style="display:none; background: #8bc6e8; padding: 21px; border-radius: 59px;")
                .col-md-3
                  .input-group
                  input#cli-ci.form-control(type='text', placeholder='Cédula del cliente')
                  input#cli-id(type='hidden' value="0")
                .col-md-4                  
                  label Nombres:&nbsp;
                  span#cli-nombre Consumidor Final
                  br
                  label Direccion:&nbsp;
                  span#cli-direccion
                  br         
                  label Teléfono:&nbsp;
                  span#cli-telefono
                .col-md-2
                  br
                  button#addToFactura.btn.bg-olive.btn-flat(type="button")
                    i.fa.fa-hand-pointer-o
                    | &nbsp;&nbsp; REALIZAR VENTA                   


              .ajax-content
            // /.box-body
            .box-footer
              | Footer

          .box
            .box-header.with-border
              h3.box-title Resumen de ventas
            .box-body
              | Pace loading works automatically on page. You can still implement it with ajax requests by adding this js:
              br
              code $(document).ajaxStart(function() { Pace.restart(); });
              br
              .row
                .col-xs-12.text-center
                  button.btn.btn-default.btn-lrg.ajax(type='button', title='Ajax Request')
                    i.fa.fa-spin.fa-refresh
                    |   Get External Content
              .ajax-content
            // /.box-body
            .box-footer
              | Footer

          .box
            .box-header.with-border
              h3.box-title Resumen de Inventarios
            .box-body
              | Pace loading works automatically on page. You can still implement it with ajax requests by adding this js:
              br
              code $(document).ajaxStart(function() { Pace.restart(); });
              br
              .row
                .col-xs-12.text-center
                  button.btn.btn-default.btn-lrg.ajax(type='button', title='Ajax Request')
                    i.fa.fa-spin.fa-refresh
                    |   Get External Content
              .ajax-content
            // /.box-body
            .box-footer
              | Footer

          .box
            .box-header.with-border
              h3.box-title Resumen de Clientes
            .box-body
              | Pace loading works automatically on page. You can still implement it with ajax requests by adding this js:
              br
              code $(document).ajaxStart(function() { Pace.restart(); });
              br
              .row
                .col-xs-12.text-center
                  button.btn.btn-default.btn-lrg.ajax(type='button', title='Ajax Request')
                    i.fa.fa-spin.fa-refresh
                    |   Get External Content
              .ajax-content
            // /.box-body
            .box-footer
              | Footer
          include ./partials/_addCliente.jade
          #modalPreventa.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |                 
                  h4.modal-title Confirmar Venta
                |               
                .modal-body
                  form#fomrCrearCliente
                    .form-group
                      label Cliente:
                      span#conf_cliente
                    .form-group
                      label Valor a Cobrar:
                      span#conf_valor.form-control
                    .form-group
                      label Valor Recibido:
                      input#conf_valor_recibido.form-control(type='number', placeholder='0.00' onkeyup="calcularVuelto()")           
                    .form-group
                      label Vuelto:
                      label#cnf_vuelto.form-control


block javascript
  link(rel="stylesheet" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css")
  link(rel="stylesheet" href="/css-app/autocommplete.css")
  script(src="/bower_components/datatables.net/js/jquery.dataTables.min.js")
  script(src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js")
  script(src="/js-app/home/home.init.js")
  script(src="/js-app/home/home.fn.js")
  script(src="/js-app/cliente/cliente.fn.js")