#modalCrearCompra.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        |                 
        h4.modal-title Ingresar una compra
      |               
      .modal-body
        form
          .form-group
            label(for='nombrePd') Proveedor:
            select#ProveedorPd.form-control
            small
              a(href="#")#open-crear-prov crear proveedor 
          .form-group
            label(for='nombrePd') Nombre del Producto:
            input#nombrePd.form-control(type='text', placeholder=' Nombre del Producto')
          .form-group
            label(for='detallePd') Detalle del Producto:
            input#detallePd.form-control(type='text', placeholder='Marca, color, tamaño') 
          
          .form-group.row
            .col-md-4
              label(for='precioConpraPd') Precio total de compra:
              input#precioConpraPd.form-control(type='number', placeholder='0.00' onkeyup="calcularPUC()")
            .col-md-4
              label(for='cantidadPd') Cantidad Comprada:
              input#cantidadPd.form-control(type='number', placeholder='0' onkeyup="calcularPUC()") 
            .col-md-4
              label(for='puc') Precio Unitario Compra:
              label#puc.form-control 0.00

          .form-group.row
            .col-md-4
              label(for='pvu') Precio Venta Unitario
              input#pvu.form-control(type='number', placeholder='En cuando va a vendar este producto?',  onkeyup="calcularPorcentaje()")
            .col-md-4
              label(for='porcentajeGanancia') Porcentaje de Ganancia:
              input#porcentajeGanancia.form-control(type='number', placeholder='%' onkeyup="calcularPrecioVentaUnit()") 

          .form-group
            label(for='fechaCompraPd') Fecha de Compra:
            input#fechaCompraPd.form-control(type='text')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
        |                 
        button.btn.btn-primary(type='button') Guardar
    // /.modal-content
  // /.modal-dialog
// /.modal