.form-group.has-feedback
  input.form-control(type='text', name="username" placeholder='cedula' required="true")
  |         
  span.glyphicon.glyphicon-user.form-control-feedback
|       
.form-group.has-feedback
  input.form-control(type='password', name="password" placeholder='contraseña' required="true")
  |         
  span.glyphicon.glyphicon-lock.form-control-feedback
|       
.row
  .col-xs-1
  .col-xs-10
    button#btn-login.btn.btn-primary.btn-block.btn-flat(type='submit') Ingresar
  .col-xs-1
