#modalMostrarVentaFecha.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        |                 
        h4.modal-title#tituloMostrarVentaFecha
      |               
      .modal-body
        table#tablaVentaFecha.table.table-bordered.table-hover(style="width: 100%;")
              thead.tabla_default
                tr
                  th #
                  th Cliente
                  th Ci
                  th Fecha
                  th Valor Venta
                tbody
      .modal-footer                
        button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
    // /.modal-content
  // /.modal-dialog
// /.modal