extends ../externalLayout
block contenido
	.container
		h1 Información
		hr
		p(style="font-size: 16px;")
			b Nodo Clic 
			| es un sofware que permite realizar el registro de las operaciones de un negocio, tienda o almacén.

		ul(style="font-size: 16px;") 
			li Invertario de productos
			li Registro de ventas de productos
			li Proveedores
			li Cartera de clientes
			li Emisión de Notas de venta
			li Reportes Estadisticos de compras
			li Reportes Estadisticos de Ventas