extends ../externalLayout
block contenido
	.container
		h1 Recuperar Contrase침a
		p(style="font-size: 16px;")
			|Usted ha solicitado la recuperaci칩n de su contrase침a.
		.login-box
			.login-box-body
				form(action='login', method='post')
					.form-group.has-feedback
						input.form-control(type='text', name="username" placeholder='cedula' required="true")
						|         
						span.glyphicon.glyphicon-user.form-control-feedback
						|       
					.form-group.has-feedback
						input.form-control(type='password', name="password" placeholder='contrase침a' required="true")
						|         
						span.glyphicon.glyphicon-lock.form-control-feedback
						|       
					.row
						.col-xs-1
						.col-xs-10
							button#btn-login.btn.btn-primary.btn-block.btn-flat(type='submit') Ingresar