extends ../layout
block contenido 
  section.content-header
    h1
      | Productos
      small Optional description
    |       
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level
      |         
      li.active Here
  // Main content
  section.content.container-fluid   